[Unit]
Description=v2ray relay
After=network.target

[Service]
#Type=forking
#PIDFile=
#ExecStart=
#ExecStop=

#Type=oneshot
#RemainAfterExit=yes
#ExecStart=
#ExecStop=

#Type=simple
ExecStartPre=START_PRE
ExecStart=V2RAY -c CONFIG
ExecStartPost=START_POST
#ExecStop=
ExecStopPost=STOP_POST

User=USER
#WorkingDirectory=
Restart=always
#Environment=
[Install]
WantedBy=multi-user.target
